@font-face {
    font-family: 'Prosto Sans';
    src: url('../fonts/prostosans/prosto_sans_bold.eot');
    src: url('../fonts/prostosans/prosto_sans_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/prostosans/prosto_sans_bold.woff') format('woff'),
         url('../fonts/prostosans/prosto_sans_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}
