<!DOCTYPE html>
<html ng-app="tvmaker" lang="en">
    <head>
        <title>TV-maker</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
        <div layout="row" >
            <div class="ad">AdWords
            </div>
        </div>
        <div>
           <div layout="row">
              <div class="panels">
                  <div class="controls" ng-click="show_channels_days = !show_channels_days"> Каналы | Дни
                  </div>
                    <div ng-hide="show_channels_days">
                        <ul class="channels-days" style="margin: 0">
                              <li>Первый канал</li>
                              <li>Россия</li>
                              <li>CTC</li>
                              <li>Вариант</li>
                              <li>Домашний</li>
                        </ul>
                        <div style="padding: 36px; width: 200px; position: absolute; bottom: 50px; font-size: 14px; color: silver">
                            Перетащите канал вверх/вниз списка для изменения порядка расположения каналов в окончательной сборке.
                        </div>
                        <div style="position: absolute; bottom: 0px; list-style-type: none; margin: 0 32px; font-size: 14px">
                            <div class="controls" style="display: inline-block" ng-click="show_load_source = !show_load_source"> + </div>
                            <div class="controls" style="display: inline-block"> Rename </div>
                            <div class="controls" style="display: inline-block"> Del </div>
                        </div>
                    </div>
                        <ul class="channels-days" style="margin: 0" ng-show="show_channels_days">
                            <li>Понедельник</li>
                            <li>Вторник</li>
                            <li>Среда</li>
                            <li>Четверг</li>
                            <li>Пятница</li>
                            <li>Суббота</li>
                            <li>Воскресенье</li>
                        </ul>
              </div>
              <div flex style="text-align: center">
                  <div class="base_controls" ng-click="show_load_source = !show_load_source"> Загрузить
                  </div>
                      <div class="load_source" ng-show="show_load_source">
                          Вставьте сюда текст программы канала или перетащите файл (-ы) с программой.
                      </div>
                      <div style="text-align: left; margin: 0 32px">
                          Content
                      </div>
                    <div class="bottom_div">
                            <div class="base_controls"> Сохранить
                            </div>
                            <div class="controls" style="display: inline-block" title="Настройки сохранения выходных файлов">
                              =
                            </div>
                    </div>
              </div>
              <div flex="25" class="panels">
                  <div class="controls" ng-click="show_rules_dictionary = !show_rules_dictionary"> Правила | Словарь
                  </div>
                  <div ng-hide="show_rules_dictionary" style="margin: 0 32px">
                            Правила
                      <div style="position: absolute; bottom: 0px; list-style-type: none; margin: 0; font-size: 14px">
                          <div class="controls" style="display: inline-block"> Все </div>
                          <div class="controls" style="display: inline-block"> Примененные </div>
                          <div class="controls" style="display: inline-block"> Рекомендуемые </div>
                      </div>
                  </div>
                  <div ng-show="show_rules_dictionary" style="margin: 0 32px">
                            Словарь
                  </div>
              </div>
          </div>
      </div>
      <script src="js/scripts.js"></script>
      <script src="//localhost:35729/livereload.js"></script>
    </body>
</html>
