<!DOCTYPE html>
<html ng-app="tvmaker" lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
        <div layout="row" >
            <div class="ad">AdWords</div>
        </div>
        <div ng-controller="ctrlChannels">
            <div layout="row">
                <md-tabs class="channels-heading" md-dynamic-height="true" md-selected="activeChannel">
                    <md-tab ng-repeat="channel in channels">
                        <md-tab-label>
                            {{channel.title}}
                        </md-tab-label>
                            <md-button class="md-fab md-primary" md-theme="gray" aria-label="Rules">
                            </md-button>
                        <md-tab-body>
                            <div layout="row">
                                <div flex class="md-whiteframe-z1">
                                   <!-- <md-subheader class="md-no-sticky">Исходный текст</md-subheader> -->
                                        <tvm-source class="pane pane-source"></tvm-source>
                                </div>
                                <div flex class="pane md-whiteframe-z1">
                                    <!-- <md-subheader class="md-no-sticky">Текст с примененными правилами</md-subheader> -->
                                        <tvm-preview class="pane pane-preview"></tvm-preview>
                                </div>
                                <div flex="20" class="pane md-whiteframe-z2">
                                    <md-list>
                                        <!-- <md-subheader class="md-no-sticky">Правила для текста</md-subheader> -->
                                            <tvm-rule ng-repeat="rule in channel.rules" tvm-title="{{rule.view.title}}" tvm-descr="{{rule.view.desc}}"></tvm-rule>
                                    </md-list>
                                </div>
                            </div>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
        <div layout="row" >
            <div class="ad">AdWords</div>
        </div>
        <div ng-controller="ctrlDays">
            <div layout="row">
                <md-tabs class="channels-heading" md-dynamic-height="true" md-selected="activeDay">
                    <md-tab ng-repeat="day in days">
                        <md-tab-label>
                            {{day.title}}
                        </md-tab-label>
                        <md-tab-body>
                            <div layout="row" ng-bind="day.text" class="md-whiteframe-z1"></div>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
        <script src="js/scripts.js"></script>
    </body>
</html>
