.controls {
  width: 48px;
}
.md-button {
  -webkit-transform: rotate(-90deg); /* Chrome y Safari */
  -moz-transform: rotate(-90deg); /* Firefox */
  min-width: 20px;
  margin: 32px -24px;
  padding: 0 12px;
  display: list-item;
  width: 100px;
  color: white;
  background: rgb(0, 150, 136);
  letter-spacing: 0.05em;
}
