.channels-heading {
    width: 100%;
}

.pane {
    height: @paneHeight;
    textarea {
        width: 98%;
        min-height: @paneHeight - 6px;
        background-color: @base5;
    }
    overflow: scroll;
}

.pane-source {
    display: block;
    width: 100;
    white-space: pre-wrap;
    .source-line {
        min-height: @sourceLineHeight;
        margin: 0;
        &:hover {
            background-color: @base50;
        }
    }
    .source-line--highlighted {
        background-color: @base25;
    }
    .source-loading {
        height: @paneHeight;
        width: 80%;
        margin: 0 auto;
    }
}

.pane-preview {
    white-space: pre-wrap;
}
