.panels {
    background-color: @base5;
    height: auto;
}
.channels-days {
    float: left;
    -webkit-padding-start: 0px;
}

.channels-days > li {
    list-style-type: none;
    height: @baseUnit*12;
    line-height: @baseUnit*12;
    background-color: @baseColor;
    margin-bottom: @baseUnit;
    padding-right: @baseUnit*4;
    padding-left: @baseUnit*4;
    cursor: pointer;
}
.load_source {
    height: @baseUnit*75;
    line-height: @baseUnit*75;
    margin: @baseUnit*6;
    border: 1px;
    border-style: dashed;
}
