.panels {
    background-color: @base5;
    height: 85vh;
}
.channels-days {
    float: none;
    -webkit-padding-start: 0px;
    padding-top: 0;
}
.md-list-item {
    height: @baseUnit*12;
    line-height: @baseUnit*12;
    cursor: pointer;
}
.md-no-style {
    height: 10vh;
    line-height: 10vh;
    background-color: inherit;
        &:hover {
            background-color: @baseColor;
        };
    font-weight: normal;
        &:hover {
            font-weight: bold;
        };
    color: inhterit;
        &:hover {
            color: @base100;
        };
}
.item-enabled {
    background-color: @baseColor;
    color: @base100;
}
.item-disabled {
    background-color: @base5;
    color: @base25;
}
